body {
  margin: 0;
}
a {
  color: black;
}
h1 {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  border-right: 2px solid black;
  width: 100px;
  margin: 0;
  padding: 20px;
  padding-left: 32px;
}
#article {
  padding-left: 25px;
}
@media (max-width:600px) {
  #grid {
    display: block;
  }
  #grid ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
